@page
@model CinemaCritique.Pages.AvatarModel
@{
    ViewData["Title"] = "Avatar";
}

<html>

<head>
    <title>Cinema Critique </title>
    <!-- FavIcon of the website(the icon in the tab of the browser)-->
    <link rel="apple-touch-icon" sizes="180x180" href="Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Images/favicon-16x16.png">
    <link rel="manifest" href="Images/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- script used to hide typewriter effect-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<!-- body of the page, loads doDate script when the page is run -->
<body onload="doDate()">

    <!-- loads a seperate page which contains the navbar-->
    <div id="header"></div>

    <!--Breadcrumb links for how to get to this page through a site map-->
    <div class="breadCrumbBG">
        <ul class="breadcrumb">
            <li><a href="Homepage.html"><div class="rightarrow"></div>Homepage<div class="rightarrow"></div></a></li>
            <li><a href="Reviews.html">Reviews<div class="rightarrow"></div></a></li>
            <li>Avatar Review</li>
        </ul>
    </div>

    <div class="header">
        <div class="typewriter">
            <h1>Cinema Critique.</h1>
            <h2 id="hide">Avatar.</h2>
        </div>
    </div>

    <div class="lightBG">
        <div class="Title">Our Review of Avatar(2009)</div>
        <div class="BorderBottom"></div>
        <div class="BannerImg">
            <img src="Images/AvatarBanner.jpg">
        </div>
        <div class="MovieInfoBelow">
            <table id="MovieInfo">

                <tr>
                    <th>Cast</th>
                </tr>
                <a href="https://www.imdb.com/name/nm0002332/" style="color:white;">
                    <tr>
                        <td>Stephen Lang as Col. Miles Quaritch</td>
                    </tr>
                </a>
                <tr>
                    <td>Joel David Moore as Norm Spellman</td>
                </tr>
                <tr>
                    <td>Wes Studi as Eytukan</td>
                </tr>
                <tr>
                    <td>CCH Pounder as Moat</td>
                </tr>
                <tr>
                    <td>Dileep Rao as Dr. Max Patel</td>
                </tr>
                <tr>
                    <td>Giovanni Ribisi as Parker Selfridge</td>
                </tr>
                <tr>
                    <th>Written and directed by</th>
                </tr>
                <tr>
                    <td>James Cameron</td>
                </tr>
                <tr>
                    <td>Action, Adventure, Fantasy, Science Fiction</td>
                </tr>
                <tr>
                    <td>162 minutes</td>
                </tr>
            </table>
        </div>
        <div class="CPLayout">
            <div class="Title2">Story/Plot</div>
            <p style="padding-left:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="Title2">Characters</div>
            <p style="padding-left:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
    </div>
    <div class="darkBG">
        <div class="Title2">Other Online Reviews</div>
        <div class="BorderBottom"></div>
        <!--Linked to the movies IMDB page-->
        <span class="imdbRatingPlugin" data-user="ur81779142" data-title="tt0499549" data-style="t1">
            <a href="https://www.imdb.com/title/tt0499549/?ref_=tt_plg_rt">
                <img alt="Avatar (2009) on IMDb" src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png">
            </a>
        </span>

        <script>
            (function (d, s, id) {
                var js, stags = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id;
                js.src = "https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";
                stags.parentNode.insertBefore(js, stags);
            })(document, 'script', 'imdb-rating-api');
        </script>
    </div>

    <div class="lightBG">
        <div class="Title2">Avatar Trailer</div>
        <div class="BorderBottom"></div>
        <div class="TextAlignCenter">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5PSNL1qE6VY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div id="footer"></div>

</body>

</html>

<script>
    window.onload = function () {
        document.getElementById("hide").style.display = "none";
    };

    setTimeout(function () {
        document.getElementById("hide").style.display = "block";
    }, 7000);

    function doDate() {
        var str = "";

        var days = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
        var months = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");

        var now = new Date();

        str += "Today is: " + days[now.getDay()] + ", " + now.getDate() + " " + months[now.getMonth()] + " " + now.getFullYear() + " " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
        document.getElementById("todaysDate").innerHTML = str;
    }
    setInterval(doDate, 1000);
</script>